.scientic-container{
    background-color: rgb(231, 222, 186);
    text-align: center;
    border: 1px solid lightcoral;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(224 196 196 / 20%), 6px 0px 6px 3px rgb(167 127 127 / 19%);
    
    
  
}
.scientic-container:hover{
    background-color:  rgb(123, 211, 214);
}
.scientic-container img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding-top: 5px;
    
}
.button{
    background-color: rgb(93, 228, 15);
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 9px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    color: black;
    font-weight:700
}
.button:hover{
    background-color: black;
    color: cornsilk;
    
}
